Body {
 padding: 500px;
 background: url("banner1.jpg");

}
div{
	padding-bottom: 30px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 30px;	
	background-color: F5F5DC;
}
input[type=text], input[type=password]{
 width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
 button {
  background-color: #4CAF50;
  color: white;
  padding: 2px 2px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
h2{
	color: Red;
}
h4{
	color: 4682B4;
}
